/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #404040;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

/* Header */

.menu-cabecalho li a {
    color: #112e61;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

nav a:hover, 
a:active {
    color: #f60;
}

.item-header-list--has-children::after {
    content: "\2bc6";
}

/* Main - Hero Section */

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

#hero p {
    font-size: 1.9rem;
}

.hero-button {
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 700;
}

/* Main - Free Contents */

#free-contents h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

.purple-highlight-home {
    color: #7a40be;
    font-weight: 600;
}

#free-contents h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.menu-treinamentos li, a{
    font-size: 1.9rem;
    color: #404040;
    text-decoration: none;
}

.menu-programacao li, a{
    font-size: 1.9rem;
    color: #404040;
    text-decoration: none;
}

/* Main - Diferentials */

#diferentials h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

#diferentials strong {
    font-weight: 600;
}

.diferentials-hashtag-h2 {
    font-weight: 600;
}

.text-diferentials-home-header {
    font-size: 1.9rem;
}

.subtitle-diferentials-home {
    font-size: 2.4rem;
    color: #005e88;
    font-weight: 600;
}

.blue-highlight-home a {
    color: #005e88;
    font-size: 3.5rem;
    font-weight: 700;
}

.companies-hashtag {
    font-size: 3.5rem;
    font-weight: 400;
}

/* Main - What They Say */

#what-they-say h2{
    font-size: 3.5rem;
    font-weight: 400;
}

.talking-about-hashtag {
    font-weight: 600;
}

.testimony a {
    font-size: 2.4rem;
    font-weight: 700;
}

/* Main - In the Midia */

#in-the-midia h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

/* Main - Blog */

#blog h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

.posted-in, .posted-in a {
    font-size: 1.5rem;
}

.posted-in a {
    color: #f7a70c;
    font-weight: 600;
}

.post-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.post-description {
    font-size: 1.7rem;
}

/* Main - Hashtag Help */
#hashtag-help h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

.strong-highlight-hashtag-help {
    font-weight: 600;
}

#hashtag-help li {
    font-size: 1.9rem;
    font-weight: 400;
}

#hashtag-help li a, #hashtag-help p a {
    color: #008ff7;
    font-weight: 600;
    text-decoration: underline;
}

#hashtag-help p {
    font-size: 1.9rem;
}

/* Main - Mini Course */

#mini-course h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

#mini-course p {
    font-size: 1.9rem;
    font-weight: 400;
}

/* Footer */

.talk-to-us, .address, .social-medias, .data-protection, .useful-links {
    font-size: 2.2rem;
    font-weight: 600;
}

.online-courses {
    font-size: 2rem;
    font-weight: 500;
}

.suport-assistant {
    font-size: 1.8rem;
    font-weight: 500;
}

.link-footer {
    color: #1a77a4;
    text-decoration: underline;
}

.newsletter {
    font-size: 2.2rem;
    font-weight: 600;
}

.name-footer-newsletter, .email-footer-newsletter {
    font-size: 1.8rem;
}