* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

main{
    display: flex;
    flex-flow: column;
    gap: 7.63rem;
    padding: 2.4rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
}

section {
    display: flex;
    flex-flow:column;
    gap: 3.12rem;
    align-items: center;
}

figure {
    display: flex;
    flex-flow: column;
    align-items: center;
}

figure img {
    width: 30rem;
}


h1 {
    font-size: 4.5rem;
    line-height: 1;
}

h1::first-letter {
    font-size: 6.4rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 1.1;
}

h3 {
    font-size: 2.4rem;
    line-height: 1.2;
}

figcaption {
    font-size: 1.2rem;
    font-style: italic;
}

a:link,
a:visited {
    display: inline-block;
    font-size: 2.4rem;
    text-decoration: double;
    text-decoration-line: underline;
    font-weight: 700;
    color: #c44105;
}

a:hover,
a:active {
    color: #0588c4;
}

ul {
    margin-left: 2.4rem;
}

li {
    color: #035276;
    font-style: italic;
}

.tv-size {
    color: #0588c4;
}

strong, b, i, em {
    color:#0588c4;
}

em {
    text-decoration: underline;
}

.figure-container {
    display: flex;
    gap: 4.88rem;
}

.price-conditions-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3.12rem;
}

.price-container,
.payment-method {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.payment-method {
    background-color: #035276;
    color: #fff;
    box-shadow: 0 0 1.6rem 0.4rem rgba(0, 0, 0, 0.15);
    padding: 2.4rem 3.2rem;
    border-radius: 2rem;
}

.payment-method em, i{
    color: #78d4ff;
}

.all-list-container {
    display: flex;
    gap: 3.12rem;
}

.list-container {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

