/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global */

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #303030;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}


section {
    padding: 6.1rem;
}

.acordeao {
    display: flex;
    flex-flow: column;
    gap: 1.6rem;

    & .item {
        cursor: pointer;
        box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.15);
        border-radius: 3.5rem;

        &.open {
            & .content {
                display: flex;
            }

            & .header {
                background-color: #754200;
                color: #fff;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                &::after {
                    content: "\2BC5";
                }
            }
        }

        & .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 3.12rem;
            background-color: #fff;
            border-radius: 3.5rem;
            font-weight: 700;
            font-size: 1.92rem;

            &::after {
                content: "\2BC6";
            }
        }

        & .content {
            display: none;
            flex-flow: column;
            gap: 1.28rem;
            background-color: #fff0dd;
            border-bottom-left-radius: 3.5rem;
            border-bottom-right-radius: 3.5rem;
            padding: 2rem 3.12rem;
        }
    }
}

.bold {
    font-weight: 700;
}
